mixin app-header-login-template-mixin
  template#app-header-login-template
    span
      .row.b10
        .col-md-3
          img.pull-left(src="img/apana_logo_small.png")
        .col-md-4.col-md-offset-5.t10
          span.pull-right
            app-translate
