mixin app-access-token-template-mixin
  template#app-access-token-template
    .col-md-4.col-md-offset-4.text-center(style="margin-top: 100px")
      h3 {{'ACCESS_TOKEN_LOGIN' | translate }}
      br
      img(src="img/wait.gif")
